@using InterestsAcademy.Core.Models.Course
@model MyCoursesViewModel


@{
	Dictionary<string, string> categories = new Dictionary<string, string>();

	categories.Add("Biology", "Биология и Химия");
	categories.Add("Physics", "Физика и Астриномия");
	categories.Add("Art", "Музика и Изкуство");
	categories.Add("It", "Информатика и роботика");
	categories.Add("Sport", "Спорт");
	categories.Add("Other", "Други");
}


<form method="get">
	<h5 class="section-title h1" style="text-align:center; padding:16px 10px">Моите курсове</h5>

     <div class="row" style="margin-left: 180px; margin-top: 1em;">
		
		<div class="form-group col-md-3 justify-content-between">

            <div class="form-group">
                <label asp-for="Category" class="tech-label">Категория</label>
                <select asp-for="Category" class="tech-select form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@categories[category]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchString" class="tech-label">Търсене</label>
            <input asp-for="@Model.SearchString" class="tech-select form-control" placeholder="Търсене" />
        </div>

        <div class="col-md-3">
            <div class="form-group mt-3 p-2">
                <button type="submit" class="btn btn-light mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search text-black" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
</form>





<section id="team" class="pb-5" style="min-height: 44em;">
	<div class="container">
		<div class="row">

			@if (User.IsInRole("Teacher"))
			{

				<div class="col-md-4" style="position: relative;
    min-height: 20em;
    margin-top: 2em;">


					<div class="col-xs-12 ">
						<div class="image-flip">
							<div class="mainflip flip-0">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											@* <p><img class=" img-fluid" src="~/img/blank-profile-picture.png" alt="card image"></p> *@
											<h4 class="card-title" style="margin-top:31%;">Добави курс</h4>
											<p class="card-text truncate-multi-line"></p>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body d-flex flex-column align-items-center justify-content-center">
											<h4 class="card-title"></h4>
											<div class="css-1io73yq eu4oa1w0">
												<span class="css-18p8mbl e1wnkr790 text-wrap">
													<a asp-action="Add" asp-controller="Course">
														<img src="~/img/plus1.png" style="width: 50%;" />
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>


			}

			@if(User.IsInRole("Student") && Model.Cards.ToList().Count == 0)
			{
				<div class="no-course-message">
					Все още не сте записани за нито един курс 😊
				</div>
			}


			@foreach (var course in Model.Cards)
			{
				<div class="col-md-4 " style="height: 20em; margin-top: 1em;">


					<div class="col-xs-12 " style="padding:1em;">
						<div class="image-flip">
							<div class="mainflip flip-0">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											<p><img class=" img-fluid" src="@Model.Photos[course.Category]" alt="card image"></p>
											<h4 class="card-title">@course.Name</h4>
											<p class="card-text truncate-multi-line">@course.Description</p>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body text-center card-body-back">
											<h4 class="card-title">@course.Name</h4>
											<div class="css-1io73yq eu4oa1w0">
												<span class="css-18p8mbl e1wnkr790 text-wrap truncate-multi-line">
													@course.Description
												</span>
											</div>

											<ul class="list-inline">


												@if (User.IsInRole("Teacher"))
												{
													<a class="btn btn-outline-dark" data-mdb-ripple-init data-mdb-ripple-color="dark" asp-action="All" asp-controller="Request" asp-route-courseId="@course.Id">Информация</a>
													<a class="btn btn-outline-dark" data-mdb-ripple-init data-mdb-ripple-color="dark" asp-action="All" asp-controller="Activity" asp-route-days="" asp-route-groupId="@course.RoomId" asp-route-isTeacher="@false" asp-route-isCourse="@false">Добави час</a>

												}
												else if (User.IsInRole("Student"))
												{
													<li>
														<a class="btn btn-outline-dark" data-mdb-ripple-init data-mdb-ripple-color="dark" asp-action="All" asp-controller="Activity" asp-route-days="" asp-route-groupId="@course.Id" asp-route-isTeacher="@false" asp-route-isCourse="@true">График</a>
													</li>
												}

											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			}

		</div>
	</div>
</section>


@section Styles {
	<link rel="stylesheet" href="~/css/courseCard.css" asp-append-version="true" />

}

