@using InterestsAcademy.Core.Models.Donation
@model FilterDonationViewModel



<div class="heading-page header-text" style="margin-top:-4em;     width: 100%;">
	<section class="page-heading">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-content">
						<h4>Направи добро - Дарения за академията</h4>
						<h1>InterestAcademy Donations</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

@* <div > *@

 <div class="categories">
	<a class="category" asp-action="Categories" asp-controller="Donation" asp-route-category="All">
		<img src="~/img/all.png" alt="Всичко">
		<p>Всичко</p>
	</a>
	<a class="category"  asp-action="Categories" asp-controller="Donation" asp-route-category="Biology">
		<img src="~/img/biology.png" alt="Медицина">
		<p>Биология и Химия</p>
	</a>
	<a class="category"  asp-action="Categories" asp-controller="Donation" asp-route-category="Physics">
		<img src="~/img/phisiscs.png" alt="Семейство">
		<p>Физика и Астриномия</p>
	</a>
	<a class="category"  asp-action="Categories" asp-controller="Donation" asp-route-category="Art">
		<img src="~/img/art.png" alt="Животни">
		<p>Музика и Изкуство</p>
	</a>
	<a class="category"  asp-action="Categories" asp-controller="Donation" asp-route-category="It">
		<img src="~/img/it.png" alt="COVID-19">
		<p>Информатика и роботика</p>
	</a>
	<a class="category"  asp-action="Categories" asp-controller="Donation" asp-route-category="Sport">
		<img src="~/img/sports.png" alt="Спорт">
		<p>Спорт</p>
	</a>
	<a class="category"  asp-action="Categories" asp-controller="Donation" asp-route-category="Other">
		<img src="~/img/other.png" alt="COVID-19">
		<p>Други</p>
	</a>
</div> 

 <div class="donations">
	<section class="items">
		@foreach (var item in Model.Donations)
		{
			<div id="item" data-id="@item.Id">
				<div class="card">
					<div class="card-details">
						<p class="text-title">@item.ItemName</p>
						<p class="text-body" id="@item.Id">Нужно количество: @item.Quantity</p>
						<a class="button" asp-action="CreateDonate" asp-controller="Donation" asp-route-id="@item.Id" id="donate" type="submit">Дари</a>
					</div>
				</div>
			</div>

		}
	</section>
</div>

</div>
 
<section id="donation-section" class="mt-5 container donation-section">
	<div class="donation-container">
		<h2 class="donation-title text-center mb-4">Защо да даря?</h2>
		<div class="donation-content text-center mb-5">
			<p class="lead">С даряване на средства, оборудване, труд или друг актив вие правите директна инвестиция в бъдещето. Академията не само ще даде възможност на децата да се развиват в една или друга насока, ще помогне за тяхното личностно и социално развитие, но и ще се превърне в притегателен център за всички активни хора, които търсят поле за изява и за споделяне на своите знания и умения.</p>
		</div>

		<div class="accordion accordion-flush" id="accordionFlushExample">
		
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						<i class="fas fa-hand-holding-heart me-2"></i> Какво са безвъзмездни услуги?
					</button>
				</h2>
				<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<p>Дейности от различен характер, които да са свързани с подготовката и изпълнението на занимания в академията. Например, строителни и ремонтни дейности, облагородяване на дворното пространство, осигуряване на кетъринг, предоставяне на оборудване под наем, предоставяне на абонаментни услуги и др.</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
						<i class="fas fa-hands-helping me-2"></i> Как мога да помогна с доброволчески труд?
					</button>
				</h2>
				<div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<p>Ако имате желание да участвате пряко в дейностите в академията, може да се свържете с нас и да ни изпратите контактите си. След стартиране на дейностите в академията, ще може да се включите по-активно с идеи за мероприятия и участие в тяхното реализиране.</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						<i class="fas fa-tools me-2"></i> Колко е минималната сума, която мога да даря?
					</button>
				</h2>
				<div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<p>
							В случай, че желаете да направите конкретно дарение - за определена дейност или определен кабинет, може да намерите информация в раздел ‘Дарение на оборудване’.
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
						<i class="fas fa-tools me-2"></i> Какво оборудване е необходимо?
					</button>
				</h2>
				<div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<p>Пълен списък с кабинетите и необходимото оборудване за всеки от тях, може да откриете в раздел ‘Дарение на оборудване’.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


		

@section Scripts {
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/recieveDonate.js"></script>
}

@section Styles {
	<link rel="stylesheet" href="~/css/donation.css" asp-append-version="true" />
}