@using InterestsAcademy.Core.Models.Donation
@model CreateDonationViewModel

@{
    ViewData["Title"] = "Дари";

    Dictionary<string, string> categories = new Dictionary<string, string>();

    categories.Add("Biology", "Биология и Химия");
    categories.Add("Physics", "Физика и Астриномия");
    categories.Add("Art", "Музика и Изкуство");
    categories.Add("It", "Информатика и роботика");
    categories.Add("Sport", "Спорт");
    categories.Add("Other", "Други");
    //добави категориите

}


<div class="container">
    <div class="left">
        <form class="form" method="post" enctype="multipart/form-data">
            <div class="input-block">
                <input class="input" asp-for="@Model.ItemName" @* type="text" *@ required>
                <label asp-for="ItemName">Име</label>
                <span asp-validation-for="@Model.ItemName"></span>
            </div>
            <div class="input-block">


                <input class="input" asp-for="@Model.Category" @* type="text" *@ required>
                <label asp-for="Category">Категория</label>
                <span asp-validation-for="@Model.Category"></span>
               
            </div>

            <div class="input-block">

                <input asp-for="@Model.Quantity" id="quantity" type="number" max="@Model.NeededQuantity" min="0" class="input" placeholder="Количество"required>
                @* <label asp-for="Quantity">Количество</label> *@
            </div>

            <input class="input" id="itemId" value="@Model.Id" hidden >


            <div class="input-block">
                <a class="button"  id="donate" type="submit">Дари</a>
            </div>
        </form>
    </div>
    <div class="right">
        <div class="img">
            <img src="~/img/Screenshot_2025-02-13_110015-removebg-preview.png" style="margin-top:100%;" />
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/donate.js"></script>

}

@section Styles {
    <link rel="stylesheet" href="~/css/addDonation.css" asp-append-version="true" />
}
