@{
    ViewData["Title"] = "Home Page";
}
@using InterestsAcademy.Core.Models.User
@model UsersQueryModel

<section id="hero" class="text-white d-flex align-items-center justify-content-center"
         style="background-color: black; min-height: 100vh;">
    <div id="hero-carousel" class="carousel slide w-100" data-bs-ride="carousel" id="home">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('@Url.Content("~/img/openart-5b6bf258-5ef7-4d67-b63e-64276fc4591c.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 02-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                   
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 04-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 06-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                  
                </div>
            </div>

           
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section > 
<div class="timeline">
    <a href="#home" class="timeline-item">
        <p class="timeline-text">Начало</p>
        <i class="fa-solid fa-house"></i>
    </a>
    <a href="#principal" class="timeline-item">
        <p class="timeline-text">Статистики</p>
        <i class="fa-regular fa-user"></i>
    </a>
    <a href="#team" class="timeline-item">
        <p class="timeline-text">Отчет</p>
        <i class="fa-regular fa-handshake"></i>
    </a>
</div>
 
@* <container class="directorcontainer" id="principal"> *@
@*     <div class="directorcontainer-title">Запознайте се с Калинка Богданова</div>  *@
@*         <div class="quotecard"> *@
@*             <div class="quote"> *@
@*                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 330 307" height="80" width="80"> *@
@*                     <path fill="currentColor" d="M302.258 176.221C320.678 176.221 329.889 185.432 329.889 203.853V278.764C329.889 297.185 320.678 306.395 302.258 306.395H231.031C212.61 306.395 203.399 297.185 203.399 278.764V203.853C203.399 160.871 207.902 123.415 216.908 91.4858C226.323 59.1472 244.539 30.902 271.556 6.75027C280.562 -1.02739 288.135 -2.05076 294.275 3.68014L321.906 29.4692C328.047 35.2001 326.614 42.1591 317.608 50.3461C303.69 62.6266 292.228 80.4334 283.223 103.766C274.626 126.69 270.328 150.842 270.328 176.221H302.258ZM99.629 176.221C118.05 176.221 127.26 185.432 127.26 203.853V278.764C127.26 297.185 118.05 306.395 99.629 306.395H28.402C9.98126 306.395 0.770874 297.185 0.770874 278.764V203.853C0.770874 160.871 5.27373 123.415 14.2794 91.4858C23.6945 59.1472 41.9106 30.902 68.9277 6.75027C77.9335 -1.02739 85.5064 -2.05076 91.6467 3.68014L119.278 29.4692C125.418 35.2001 123.985 42.1591 114.98 50.3461C101.062 62.6266 89.6 80.4334 80.5942 103.766C71.9979 126.69 67.6997 150.842 67.6997 176.221H99.629Z"></path> *@
@*                 </svg> *@
@*             </div> *@
@*             <div class="quotebody-text">Всяко дете има талант, както и необходимост от подходящата среда, в която да опознае и развие силните си страни.</div> *@
@*         </div> *@
@*         <div class="directorcard"> *@
@*             <img src="~/img/KalinkaBogdanova.jpg"> *@
@*             <div class="directorcard__content"> *@
@*                 <p class="directorcard__description">Калинка Богданова вярва в таланта на всяко дете и в това, че то заслужава достъп до обучение, което да го предизвиква и да го подкрепя да развива своите потенциали, нагласи и умения.</p> *@
@*             </div> *@
@*         </div> *@
    
  
@* </container> *@

@* <section id="team">
    <div class="team-container" style="margin-right: 100px;
  margin-top: 150px;
  margin-left: 100px;
  padding-right: 20px;">
        <div class="team-title">Екипът</div>
        <div class="box">
            <input type="radio" name="dot" id="one">
            <input type="radio" name="dot" id="two">
            <div class="main-card">
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="~/img/Screenshot 2025-02-13 123342.png" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Вероника Коева</div>
                                <div class="job">Председател на СНЦ “Естествен Интелект"<br /> Учредител</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="~/img/NiklaySpirov.png" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Николай Спиров</div>
                                <div class="job">Главен инициатор и Учредител</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="~/img/MihaelaIvanova.png" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Михаела Иванова</div>
                                <div class="job">Човешки ресурси<br /> Учредител и член на УС</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="~/img/BeloslavBelchev.png" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Белослав Белчев</div>
                                <div class="job">
                                    Учредител и член на УС<br /> Учредител Фондация “ТЕО”
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="~/img/DesislavaTineva.png" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Десислава Тинева</div>
                                <div class="job"> Учредител и член на КС</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="~/img/DanielaSeverinova.png" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Даниела Северинова</div>
                                <div class="job">Образователен експерт и консултант<br /> Учредител и автор Концепция</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <label for="one" class=" active one"></label>
                <label for="two" class="two"></label>
            </div>
            <div class="morebutton-container">
                <button class="morebutton">
                    <a asp-controller="Home" asp-action="Team" style=" text-decoration:none">Научи повече</a>
                    <svg class="moreicon" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section> *@
<section id="principal" class="statistics2-section">
    <div class="stats2-container">
        <!-- Students Count -->
        <div class="stats2-circle stats2-card-1">
            <div class="stats2-icon">
                <i class="fas fa-users fa-3x"></i>
            </div>
            <div class="stats2-content">
                <h2 class="stats2-counter" data-count="@Model.StudentsCount">0</h2>
                <p class="stats2-label">Ученици</p>
            </div>
        </div>

        <!-- Activities Count -->
        <div class="stats2-circle stats2-card-2">
            <div class="stats2-icon">
                <i class="fas fa-calendar-check fa-3x"></i>
            </div>
            <div class="stats2-content">
                <h2 class="stats2-counter" data-count="@Model.ActivitiesCount">0</h2>
                <p class="stats2-label">Проведени активности</p>
            </div>
        </div>

        <!-- Courses Count -->
        <div class="stats2-circle stats2-card-3">
            <div class="stats2-icon">
                <i class="fas fa-book-open fa-3x"></i>
            </div>
            <div class="stats2-content">
                <h2 class="stats2-counter" data-count="@Model.CoursesCount">0</h2>
                <p class="stats2-label">Курса</p>
            </div>
        </div>
    </div>
</section>

<section class="statistics" id="team">
    <h2>Годишен отчет</h2>
    <div style="display:flex; flex-direction:row;">   
        <img src="~/img/statpic.png" alt="Achievements Image" class="stat-image">
        <div class="stats-container">
            <div class="stat">
                <div class="stat-number" data-target="150">0</div>
                <div class="stat-label">преведени срещи</div>
            </div>
            <div class="stat">
                <div class="stat-number" data-target="100000">0</div>
                <div class="stat-label">лв направени дарения</div>
            </div>
            <div class="stat">
                <div class="stat-number" data-target="100">0</div>
                <div class="stat-label">привлечени съмишленици</div>
            </div>
        </div>
    </div>
   
</section>


@section Styles {
      <link rel="stylesheet" href="~/css/styles2.css" asp-append-version="true" /> 
      <link rel="stylesheet" href="~/css/teamcards.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
}

@section Scripts{
   

<script src="~/js/index.js" asp-append-version="true">
           
</script>
}
